@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
 
  /* ... */
}

@layer components{
  .primary-btn {
    @apply bg-orange-400 text-white font-bold px-4 py-2 rounded-full;
  }
  .secondary-btn {
    @apply bg-gray-300 text-white font-bold px-4 py-2 rounded-full;
  }
  .container {
    @apply px-4;
  }
  img{
    img {
  user-select: none;
  pointer-events: none;
  user-drag: none;
}
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

@layer utilities{
  .img-shadow{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  }
  .animate-spin-slow{
    animation: spin 20s linear infinite;
  }
}